body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {

}
.authFormParent {
  background-image: url(./pinkcupcakes.jpg);
  height: 600px;
  width: auto;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
