#rating1{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 85px;
  width: 33px;
  text-align: top;
  background-position: right;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #ff8095;
  padding-top: 10px;
}

#rating2{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 85px;
  width: 65px;
  text-align: left;
  background-position: right;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #ff8095;
  padding-top: 10px;
}

#rating3{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 85px;
  width: 96px;
  text-align: left;
  background-position: right;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #ff8095;
  padding-top: 10px;
}

#rating4{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 85px;
  width: 128px;
  text-align: left;
  background-position: right;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #ff8095;
  padding-top: 10px;
}

#rating5{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 85px;
  width: 161px;
  text-align: left;
  background-position: right;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #ff8095;
  padding-top: 10px;
}
