.checkinsIdx {
  display: flex;
  justify-content: center;
}

#checkinInfo{
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 500;
  width: 500px;
  align-self: center;
}

#deleteCheckin {
  color: #ff8095;
  margin-left: 15px;
}

#dontDelete {
  display: none;
}

#madeOnDate {
  font-size: 12px;
  color: grey;
  align-self: left;
}

#text {
  display: flex;
  align-items: center;
  color: grey;
}

.checkinList1, .checkinList {
  margin: 20px 0 100px 0px;
  padding: 16px 16px 0 16px;
  background: white;
  width: 700px;
  display: flex;
  align-items: center;
}

.checkinList1 {
  flex-direction: column;
}

.checkinList {
  flex-direction: column-reverse;
}

#userFeedDesAvatar {
  display: inline-block;
  object-fit: cover;
  max-width: 80px;
  max-height: 80px;
}

#userFeedAvatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: auto;
}

.feedUserImgDiv {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border: 3px solid pink;
}

.checkinDesImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.checkinImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
  margin: 10px;
  padding: 3px;
  align-self: center;
  max-height: 200px;
  width: 60%;
}

.checkinImgDiv:empty {
  display: none;
}

#checkinImg{
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

#checkinImg:empty {
  display: none;
}

#feedUserLink {
  font-weight: bolder;
  color: #ff8095;
  padding: 7px;
}

#titleText {
  display: flex;
  align-items: center;
}

.checkinTitle {
  font-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.checkinItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkinItem {
  padding: 16px 16px 16px;
  display: flex;
  width: 630px;
  flex-direction: column;
  justify-content: center;
  border-top: 1px lightgrey solid;
  margin-bottom: 12px;
}

.checkinComment {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 20px 12px 20px 12px;
  border: 0.5px solid #ffccd5;
  justify-content: space-between;
  color: #0d0d0d;
  font-size: 18px;
  width: 500px;
  align-self: center;
  margin-bottom: 12px;
}

.checkinComment:before {
  content:"";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #dd4397 transparent transparent;
  position: absolute;
  left: -15px;
}

#checkinCounter {
  padding: 20px 10px 3px 10px;
  color: grey;
  font-size: 16px;
}

#feed {
  align-self: left;
}

@media screen and (max-device-width: 770px) {
  .checkinsIdx {
    // width: 520px;
    width: 95%;
  }

  .checkinList1 {
    width: 100%;
  }

  .checkinList {
    width: 100%;
  }

  .checkinItem {
    // width: 500px;
    width: 87%;
  }

  .checkinComment {
    // width: 480px;
    width: 94%;
  }

  #checkinInfo {
    width: 100%;
  }

  .navBackground {
    width: 520px;
  }

  #homeNavLinks li {
    display: none;
  }

  .userNav{
    width: 500px;
  }

}

@media screen and (max-device-width: 320px) {

  .checkinsIdx {
    width: 320px;
  }

  .checkinList {
    width: 300px;
  }

  .checkinItem {
    width: 300px;
  }

  .checkinComment {
    width: 280px;
  }

  .navBackground {
    width: 320px;
  }

  #homeNavLinks li {
    display: none;
  }

  .userNav{
    width: 300px;
  }

  .feedUserImgDiv {
    display: none;
  }

  #userFeedAvatar {
    display: none;
  }

  #text {
    font-size: 10px;
  }
}
