#rating1{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 33px;
  text-align: left;
  background-position: right;
}

#rating2{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 65px;
  text-align: left;
  background-position: right;
}

#rating3{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 96px;
  text-align: left;
  background-position: right;
}

#rating4{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 128px;
  text-align: left;
  background-position: right;
}

#rating5{
  background-image: image-url('004-food-1.png');
  background-repeat: repeat-x;
  height: 40px;
  width: 161px;
  text-align: left;
  background-position: right;
}
