.createCheckinForm {
  width: 500px;
  height: 250px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
}

#checkInHeading {
  padding: 2px 0px 0px 10px;
  margin: 0;
  align-self: left;
  width: 98%;
  background-color: #ffccd5;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#checkInExit {
  padding-right: 15px;
  font-weight: normal;
  font-size: 20px
}

#rating {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: lightgrey;
  height: 8px;
  -webkit-transition: .2s;
  border-radius: 2px;
  transition: opacity .2s;
  width: 70%
}

.ratingSlider {
  width: 60%;
  position: relative;
  bottom: 10px;
  padding: 15px 0px 0px 0px;

}

#rating:hover {
  opacity: 1;
}

#rating::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: image-url('donut2.png');
  background-size: 30px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: top left;
  cursor: pointer;
}

.checkinImageInput {
  height: 45%;
  width: 20%;
  background-color: #a6a6a6;
  border-radius: 5px;
}

#confirmCheckinBtn {
  background-color: #a6a6a6;
  border: none;
  color: white;
  width: 30%;
  height: 20%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 2px;
}

.checkinInputs {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  margin: 15px;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
}

#commentText {
  width: 75%;
  height: 40%;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid lightgrey;
  padding: 5px 2px 5px 5px;
  font-size: 16px;
  resize: none;
}

.checkinIconContainer {

}

.checkinInputFile{
  position: relative;
  top: 10px;
  width: 70px;
  font-size: 2px;
}

.checkinInputFile::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
.checkinInputFile::before {
  position: relative;
  content: image-url('cam.png');
  opacity: .5;
  -webkit-user-select: none;
  cursor: pointer;
}
