.checkinsIdx {
  display: flex;
  justify-content: center;
}

#checkinInfo{
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 500;
  width: 500px;
  align-self: center;
}

#deleteCheckin {
  color: #ff8095;
  margin-left: 15px;
}

#dontDelete {
  display: none;
}

#madeOnDate {
  font-size: 12px;
  color: grey;
  align-self: left;
}

#text {
  display: flex;
  align-items: center;
  color: grey;
}

.checkinList {
  margin: 20px 0 0 0px;
  padding: 16px 16px 0 16px;
  background: white;
  width: 682px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#userFeedAvatar {
  display: inline-block;
  object-fit: cover;
  width: 60px;
}

.checkinDesImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid pink;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.feedUserImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid pink;
  border-radius: 100%;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.checkinImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center, center;
  margin: 10px;
  padding: 3px;
  align-self: center;
}

.checkinImgDiv:empty {
  display: none;
}

#checkinImg{
  // display: inline-block;
  max-height: 200px;
  max-width: 300px;
  align-self: center;
  padding: 25px;
}

#feedUserLink {
  font-weight: bolder;
  color: #ff8095;
  padding: 7px;
}

#titleText {
  display: flex;
  align-items: center;

}

.checkinTitle {
  font-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.checkinItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkinItem {
  padding: 16px 16px 16px;
  display: flex;
  width: 630px;
  flex-direction: column;
  justify-content: center;
  border-top: 1px lightgrey solid;
}

.checkinComment {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 20px 12px 20px 12px;
  border: 0.5px solid #ffccd5;
  justify-content: space-between;
  color: #0d0d0d;
  font-size: 18px;
  width: 500px;
  align-self: center;
}

.checkinComment:before {
  content:"";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #dd4397 transparent transparent;
  position: absolute;
  left: -15px;
}

#checkinCounter {
  padding: 20px 10px 3px 10px;
  color: grey;
  font-size: 16px;
}

#feed {
  align-self: left;
}
