.checkinsIdx {
  display: flex;
  justify-content: center;
}

.checkinList {
  margin: 20px 0 0 0px;
  padding: 16px 16px 0 16px;
  background: white;
  width: 682px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#userFeedAvatar {
  display: inline-block;
  object-fit: cover;
  width: 60px;
}

.checkinDesImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid pink;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.feedUserImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid pink;
  border-radius: 100%;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.checkinImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  padding: 3px;
  align-self: center;

}

.checkinImgDiv:empty {
  display: none;
}

#checkinImg{
  // display: inline-block;
  max-height: 200px;
  max-width: 300px;
  align-self: center;
  padding: 25px;
}

#feedUserLink {
  font-weight: bolder;
  color: #ff8095;
}

#titleText {
  display: flex;
  align-items: center;

}

.checkinTitle {
  font-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
}

.checkinItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkinItem {
  padding: 16px 16px 16px;
  display: flex;
  width: 630px;
  flex-direction: column;
  justify-content: center;
  border-top: 1px lightgrey solid;
}

.checkinComment {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
  border: 0.5px solid #ffccd5;
  justify-content: space-between;
  color: grey;
  font-size: 18px;
  width: 500px;
  align-self: center;
}

#feed {
  align-self: left;
}
