.checkinsIdx {
  display: flex;
  justify-content: center;
}

.checkinList {
  margin: 20px 0 0 0px;
  padding: 16px 16px 0 16px;
  background: white;
  width: 682px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.feedUserImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid pink;
  border-radius: 100%;
  margin: 10px;
  padding: 3px;
  height: 40px;
  width: 40px;
  position: relative;
  right: 20px;
  top: 40px;
}

#checkinImg{
  display: inline-block;
  max-height: 200px;
  max-width: 300px;
  align-self: center;
  padding: 25px;
}

#feedUserLink {
  font-weight: bolder;
  color: #ff8095;
}

#checkinTitle {
    font-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.checkinItem {
  padding: 16px 16px 16px;
  display: flex;
  width: 630px;
  height: 100%;
  flex-direction: column;
  border-top: 1px lightgrey solid;
}

.checkinComment {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
  border: 0.5px solid #ffccd5;
  justify-content: space-between;
  color: grey;
  font-size: 18px;
  width: 500px;
  align-self: center;
}

.checkinTitle {
  text-align: left;
  display: block;
  padding: 7px;
  margin-bottom: 10px;
  font-size: 19.5px;
  position: relative;
  left: 30px;
}

#feed {
  align-self: left;
}
