.createCheckinForm {
  width: 500px;
  height: 280px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.checkInHeading {
  margin: 0;
  align-self: left;
}

#rating {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: lightgrey;
  height: 4px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.ratingSlider {
  width: 60%;
  padding: 15px 0px 20px 0px;
  align-self: left;
}

#rating:hover {
  opacity: 1;
}

#rating::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: image-url('004-food-1.png');
  background-size: 25px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-position: top left;
  cursor: pointer;
  opacity: 1;

}

.checkinImageInput {
  height: 50px;
  width: 50px;
}
