a, h1, h4, button, input, html, body, figure, div, link, span {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

html {
  height: 100%;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: #f2f2f2;
}
