a, h1, h4, button, input, html, body, figure, div, link {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


/*.group:after {
  content: "";
  display: block;
  clear: both;
}*/
