#chocolate{
  height: 80px;
  width: 130px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('chocolate.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#cookie{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Cookie-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#pie{
  height: 80px;
  width: 70px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Pie-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#cake{
  height: 80px;
  width: 90px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('003-cake-slice-with-cherry.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#pastry{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Doughnut-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#miscellaneous{
  height: 80px;
  width: 155px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001-marshmallow-with-stick.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#frozen{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('005-food.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#custard{
  height: 80px;
  width: 110px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('custard.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#store{
  height: 80px;
  width: 110px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('003-shopping-cart.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#homemade{
  height: 80px;
  width: 110px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001electric-mixer.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#cafe{
  height: 80px;
  width: 110px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('002-coffee-cup.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}
