
.dessertStats {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 25%;
}

.dessertTable {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 10px;
  width: 100%;
}

#dessertHeaderLeft {
  display: flex;
}

#dessertStatsTable {
  font-size: 14px;
  font-variant: small-caps;
  color: #ff8095;
  padding-bottom: 17px;
}

.bottom {
  border-top: 1px solid lightgrey;
  padding-top: 5px;
}

.topData {
  padding-bottom: 5px;
}

#right {
  padding-left: 7px;
  border-left: 1px solid lightgrey;
}

#left {
  padding-right: 7px;
}

#statsBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid lightgrey;
  color: grey;
  margin-top: 10px;
}

.dessertHeaderCenter {
  display: inline-block;
}

#ratingNum {
  padding-right: 10px;
  border-right: 1px lightgrey solid;
}

#bar {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

#barLast {
  padding-left: 10px;
  padding-right: 10px;
}
