#cookie{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Cookie-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#pie{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Pie-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#cake{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('003-cake-slice-with-cherry.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#pastry{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Doughnut-50.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#miscellaneous{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001-marshmallow-with-stick.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#frozen{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('005-food.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}

#custard{
  height: 80px;
  width: 100px;
  text-align: right;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('custard.png');
  background-repeat: no-repeat;
  background-size: 45px;
  padding: 2px 12px 10px 4px;
  color: grey;
}
