
.dessertStats {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dessertTable {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 10px;
  width: 100%;
}

#dessertHeaderLeft {
  display: flex;

}

#dessertStatsTable {
  font-size: 14px;
  font-variant: small-caps;
  color: #ff8095;
  padding-bottom: 17px;
}

.profileStat {
  align-self: flex-end;
  height: auto;
}

.bottom {
  border-top: 1px solid lightgrey;
  padding-top: 5px;
}

.topData {
  padding-bottom: 5px;
}

#right {
  padding-left: 7px;
  border-left: 1px solid lightgrey;
}

#left {
  padding-right: 7px;
}
