.dessertsDiv {
  background-color: #f2f2f2;
  min-height: 900px;
}

.createDessertForm {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 25px;
  height: 700px;
  width: 500px;
  background-color: white;
}

select {
  margin-bottom: 5px;
}

#addHeading{
  margin: 0;
}

#guidelinesHeading{
  margin: 0;
}

.dessertsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-left: 25px;
}

.guidelines {
  list-style-position: outside;
  margin-left: 15px;
}

.guidelines li {
  padding: 2px;

}

#descriptionChange{
  height: 75px;
  width: 400px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid lightgrey;
  padding: 5px 2px 5px 5px;
  font-size: 16px;
}

.createInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  align-self: flex-start;
  color: #737373;
  font-size: 10px;
  margin: 8px 0px 1px 2px;
  padding-left: 20px;
  font-weight: bold;
}

#nameChange{
  height: 28px;
  width: 400px;
  padding-left: 4px;
  margin: 0;
}

#desImage{
  height: 28px;
  width: 400px;
  padding-left: 4px;
  margin: 0;
}

#originSelect {
  height: 32px;
  width: 400px;
  text-align: center;
  font-size: 16px;
  background-image: image-url('003-food-2.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 2px 12px 2px 4px;
  color: grey;
}

#typeSelect {
  height: 32px;
  width: 400px;
  text-align: center;
  font-size: 16px;
  background-image: image-url('003-food-2.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 2px 12px 2px 4px;
  color: grey;
}

.dessertNameInput {
  border: 1px solid lightgrey;
  margin: 1px 2px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.dessertImageInput {
  border: 1px solid lightgrey;
  margin: 1px 2px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#createDessertBtn {
  background-color: #a6a6a6;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 2px;
}
