#dessertName {
  font-weight: 400;
  position: relative;
  left: 10px;
  color: black;
}

.dessertPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.desImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  border-radius: 4px;
  padding: 5px;
  max-width: 130px;
  max-height: 130px;
}

#desAvatar {
  overflow: hidden;
}

#dessertDescription {
  padding-top: 10px;
  order: 2;
  color: #a9a9a9;
  font-weight: 300;
  align-self: flex-start;
  display: flex;
  max-width: 575px;
  margin: 0;
}

#checkInLink {
  width: 60px;
  height: 60px;
  background-image: image-url('checkin01.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: bottom;
  background-color: #ff8095;
  color: white;
  order: 3;
  position: relative;
  right: 10px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  font-variant: small-caps;
  border: 5px solid #ff8095;
}

#checkInLink:hover {
  opacity: .6;
}

#desProfilePic {
  height: 135px;
  width: auto;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  margin: 5px;
  overflow: hidden;
}

#desProfilePic:empty {
  display: none;
}

#dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.dessertProfile {
  background-color: #f2f2f2;
}

.dessertInfo {
  margin: 15px 0 10px 0px;
  padding: 16px;
  background: white;
  display: flex;
  width: 700px;
  flex-direction: column;
  align-content: space-between;
}

.dessertImages {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  width: 723px;
}

.dessertIcons {
  display: flex;
  flex-direction: row;
  align-self: left;
  align-items: flex-start;
  margin-right: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  align-items: flex-start;
}

.dessertHeader {
  display: flex;
  justify-content: space-between;
}

.dessertHeaderBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px lightgrey solid;
  position: relative;
}

@media screen and (max-device-width: 770px) {
  #dessert {
    width: 95%;
  }

  .dessertInfo {
    width: 95%;
  }
}
