#name {
  padding-top: 15px;
  max-height: 40px;
  display: flex;
}

#dessertDescription {
  padding-top: 10px;
  order: 2;
  color: #a9a9a9;
  font-weight: 300;
  align-self: flex-start;
  display: flex;
  max-width: 575px;
  margin: 0;
}

#checkInLink {
  width: 70px;
  height: 90px;
  background-image: image-url('spcheckin.png');
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: bottom;
  color: grey;
  text-decoration: none;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  order: 3;
  position: relative;
  right: 10px;
  align-self: flex-end;
}

#checkInLink:hover {
  opacity: .6;
}

#desProfilePic {
  height: 135px;
  width: auto;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  margin: 5px;
  overflow: hidden;
}

#dessert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 5px;
}

.dessertProfile {
  background-color: #f2f2f2;
}

.dessertInfo {
  margin-left: 5px;
  padding: 16px;
  background: white;
  display: flex;
  width: 682px;
  flex-direction: column;
  align-content: space-between;
}

.dessertImages {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
  width: 723px;
}

.dessertIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 10px;
  padding-bottom: 15px;
  position: relative;
  bottom: 15px;
}

.dessertHeader {
  display: flex;
  justify-content: space-between;
}

.dessertHeaderBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px lightgrey solid;
  position: relative;

}
