#name {
  padding-top: 15px;
}

#dessertDescription {
  padding-top: 10px;
  border-top: 1px lightgrey solid;
  order: 2;
  color: #a9a9a9;
  font-weight: 300;
}

#checkInLink {
  align-self: flex-end;
  width: 80px;
  height: 80px;
  background-color: pink;
  text-align: center;
  color: grey;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

#desProfilePic {
  height: 135px;
  width: 135px;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  margin: 5px;
  overflow: hidden;
}

#dessert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 5px;
}

.dessertProfile {
  background-color: #f2f2f2;
}

.dessertInfo {
  margin-left: 5px;
  padding: 16px;
  background: white;
  display: flex;
  width: 682px;
  flex-direction: column;
}

.dessertImages {
  display: flex;
  align-items: space-around;
  justify-content: flex-start;
}
