#chocolate{
  height: 45px;
  width: 115px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('chocolate.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#cookie{
  height: 45px;
  width: 73px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Cookie-50.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#restaurant{
  height: 45px;
  width: 103px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Waiter-50.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#pie{
  height: 45px;
  width: 70px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Pie-50.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#cake{
  height: 45px;
  width: 60px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('003-cake-slice-with-cherry.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#pastry{
  height: 45px;
  width: 100px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('icons8-Doughnut-50.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#miscellaneous{
  height: 45px;
  width: 155px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001-marshmallow-with-stick.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#frozen{
  height: 45px;
  width: 70px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('005-food.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#custard{
  height: 45px;
  width: 80px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('custard.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#store{
  height: 45px;
  width: 70px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('003-shopping-cart.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#homemade{
  height: 45px;
  width: 100px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001-electric-mixer.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#cafe{
  height: 45px;
  width: 55px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('002-coffee-cup.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#candy{
  height: 60px;
  width: 98px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('toffee.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}

#other {
  height: 45px;
  width: 90px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-image: image-url('001-fruit.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
}
