.dessertsDiv {
  background-color: #f2f2f2;
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.errorDiv {
  display: flex;
  align-items: center;
  color: grey;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
  max-height: 35px;
}

.desInputFile{
  width: 150px;
}

.desInputFile::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
  position: relative;
  right: 40px;
}
.desInputFile::before {
  content: 'Add Photo';
  display: inline-block;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: white;
  border: 2px lightgrey solid;
  color: grey;
  padding: 5px 154px;
  text-align: center;
  font-size: 19px;
  position: relative;
  left: 5px;
}

#desAvatarUpdate {
  display: flex;
  align-self: left;
  align-items: flex-end;
}

.createDessertForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;
  height: 700px;
  width: 500px;
  background-color: white;
}

select {
  margin-bottom: 5px;
}

#addHeading{
  margin: 0;
}

#guidelinesHeading{
  margin: 0;
}

.guidelines {
  list-style-position: outside;
  margin-left: 15px;
}

.guidelines li {
  padding: 2px;
}

#descriptionChange{
  height: 75px;
  width: 400px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid lightgrey;
  padding: 5px 2px 5px 5px;
  font-size: 16px;
  resize: none;
}

.createInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addLabel {
  align-self: flex-start;
  color: #737373;
  font-size: 10px;
  margin: 8px 0px 1px 2px;
  padding-left: 20px;
  font-weight: bold;
}

#nameChange{
  height: 28px;
  width: 400px;
  padding-left: 4px;
  margin: 0;
}

.createInputs select {
  height: 32px;
  width: 400px;
  text-align: center;
  font-size: 16px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 2px 12px 2px 4px;
  color: grey;
}

#originSelect {
  background-image: image-url('003-food-2.png');
}

#typeSelect {
  margin-top: 5px;
  background-image: image-url('003-food-2.png');
}

.dessertNameInput {
  border: 1px solid lightgrey;
  margin: 1px 2px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#createDessertBtn {
  background-color: #a6a6a6;
  border: none;
  color: white;
  padding: 10px 136px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}
