#chocolate, #cookie, #restaurant, #pie, #cake, #pastry, #miscellaneous, #frozen, #custard, #store, #homemade, #cafe, #candy, #other {
  height: 45px;
  text-align: right;
  font-size: 15px;
  font-variant: small-caps;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 2px 12px 10px 4px;
  color: #4d4d4d;
  margin-top: 4px;
}

#chocolate{
  width: 95px;
  background-image: image-url('chocolate.png');
}

#cookie{
  width: 73px;
  background-image: image-url('icons8-Cookie-50.png');
}

#restaurant{
  width: 103px;
  background-image: image-url('icons8-Waiter-50.png');
}

#pie{
  width: 50px;
  background-image: image-url('icons8-Pie-50.png');
}

#cake{
  width: 60px;
  background-image: image-url('003-cake-slice-with-cherry.png');
}

#pastry{
  width: 75px;
  background-image: image-url('icons8-Doughnut-50.png');
}

#miscellaneous{
  width: 115px;
  background-image: image-url('001-marshmallow-with-stick.png');
}

#frozen{
  width: 70px;
  background-image: image-url('005-food.png');
}

#custard{
  width: 80px;
  background-image: image-url('custard.png');
}

#store{
  width: 70px;
  background-image: image-url('003-shopping-cart.png');
}

#homemade{
  width: 100px;
  background-image: image-url('001-electric-mixer.png');
}

#cafe{
  width: 55px;
  background-image: image-url('002-coffee-cup.png');
}

#candy{
  height: 60px;
  width: 70px;
  background-image: image-url('toffee.png');
}

#other {
  width: 65px;
  background-image: image-url('001-fruit.png');
}
