.homeNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  align-self: center;
}

.navBackground {
  width: 100%;
  background-color: #ffe6ea;
  display: flex;
  justify-content: center;
  height: 56px;
}

.greeting {
  background-color: #f2f2f2;
}

.userList {
  list-style: none;
}

#userLink {
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

#user {
  display: none;
}

.homeLogo {
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}



#logout{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#addDessert{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#updateLink{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#addDessert:hover {
  opacity: .6;
}

#logout:hover {
  opacity: .6;
}

#updateLink:hover {
  opacity: .6;
}

#feed {
  margin-top: 15px;
  padding-left: 25px;
}

.searchDiv {
  border-radius: 5px 5px 5px 5px;
  border: 2px lightgrey solid;
  opacity: .4;
}

.searchDrop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
