.homeNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  align-self: center;
}

.userNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
}

.navBackground {
  width: 100%;
  background-color: #ffe6ea;
  display: flex;
  justify-content: center;
  height: 56px;
}

.greeting {
  background-color: #f2f2f2;
}

.userList {
  list-style: none;
}

#user {
  display: none;
}

.homeLogo {
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}

#feed {
  margin-top: 15px;
  padding-left: 25px;
}

.searchDiv {
  border-radius: 5px 5px 5px 5px;
  border: 2px lightgrey solid;
  opacity: .4;
}

.searchDrop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
