.homeNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeContent {
  background-image: image-url('goldencupcakes.jpg');
  height: 250px;
  width: auto;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}

#user {
  color: white;
  padding-left: 25px;
  font-size: 33px;
  font-weight: 400;
  opacity: 1;
}

.homeLogo {
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}


#logout{
  background-color: #f2f2f2;
  color: #ff99bb;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#addDessert{
  background-color: #f2f2f2;
  color: #ff99bb;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#feed {
  padding-left: 25px;
}

.searchDiv {
  border-radius: 5px 5px 5px 5px;
  border: 2px lightgrey solid;
  margin-right: 25px;
}
