.content {
  background-image: image-url('macaroons.jpg');
  height: 600px;
  width: auto;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
