.landing {
  background-image: image-url('macaroonscafe2.png');
  min-height: 1000px;
  width: auto;
  display: flex;
  align-items: flex-start;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.searchBar {
  background-image: image-url('musica-searcher.png');
  background-size: 18px;
  background-position: right;
  background-repeat: no-repeat;
  width: 96%;
  height: 24px;
  margin: 0;
  font-size: 14px;
  padding: 2px;
  color: grey;
}

.searchContainer {
  border: 1px solid lightgrey;
  margin: 5px 2px 5px 5px;
  display: flex;
  background-color: white;
  align-self: center;
  align-items: flex-start;
  padding: 2px 5px 2px 8px;
  border-radius: 5px;
}

#sloganLanding {
  font-size: 12px;
}

#landingCopy {
  font-weight: 600;
  font-size: 20px;
}

#landingLinks {
  padding-left: 0;
}

.landingNavBar {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 15px;
}

.searchLanding {
  border: 2px black solid;
}

.landingContent {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  margin-left: 20px;
}

.logo {
  padding-top: 60px;
  padding-bottom: 95px;
  height: 290px;
  background-image: image-url('spcheckin.png');
  background-size: 140px;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9E9E9E;
  margin: 45px;
  position: relative;
  left: 45px;
  top: 40px;
}

#landingLinks li {
  z-index: 1;
  background-color: #E7E9EB;
  color: #9E9E9E;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 8px;
  margin-right: 4px;
  border: 1px #9E9E9E solid;
  opacity: 0.9;
}

#landingLinks li:hover {
  opacity: 0.4;
  border: 1px solid white;
}
