.landing {
  background-image: image-url('macaroonscafe.jpg');
  height: 600px;
  width: auto;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingNavBar {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-top: 15px;
}

.landingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-top: 60px;
  padding-bottom: 95px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #737373;
}

#landingSignIn {
  background-color: #f2f2f2;
  border: 0.5px solid white;
  color: #ff99bb;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 8px;
  margin-right: 4px;
}

#landingSignUp {
  background-color: #f2f2f2;
  border: 0.5px solid white;
  color: #ff99bb;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}

li:hover {
  opacity: 0.6;
}
