#navLinks {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#homeNavLinks {
  padding-left: 10px;
}

h1 {
  display: grid;
}

#navSignIn {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  position: relative;
  margin-right: 25px;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
}

#navSignUp {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  position: relative;
  margin-right: 25px;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
}

li:hover {
  background-color: lightgrey;
}
