#navLinks {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#homeNavLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px 0px 0px 10px;
}

#homeNavLinks li {
  color: grey;
  margin: 0;
  padding: 10px;
  background-color: transparent;
}

#homeNavLinks li:hover {
  opacity: 0.5;
}

h1 {
  display: grid;
}
