.userProfileNav {
  background-color: #ffe6ea;
  max-height: 55px;
  display: flex;
  align-items: center;
}

#slogan1 {
  font-size: 26px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 2.5px;
}

#slogan {
  font-size: 9px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 1px;
  padding: 0;
  align-self: center;
}

.userImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom center;
  border: 3px solid pink;
  border-radius: 100%;
  margin: 10px;
  height: 59px;
  width: 60px;
  margin: 0px 0px 20px 20px;
}

.profilePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  min-height: 1200px;
}

.hidePassword {
  display: none;
}

.userProfileContent1 {
  height: 300px;
  width: 60%;
  display: flex;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
}

#imgIconContainer {
  width: 0.2px;
}

#wallImg {
  height: auto;
  width: 100%;
  overflow: hidden;
  opacity: .9;
  display: flex;
  position: relative;
  padding: 5px;
}

#prof {
  display: flex;
  align-items: center;
  position: absolute;
}

#user {
  color: white;
  font-size: 33px;
  font-weight: 400;
  opacity: 1;
}

.userProfileLogo {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}

#name {
  padding-left: 20px;
  padding-bottom: 15px;
  position: relative;
  bottom: 15px;
  color: white;
}

#feedIntro {
  padding-left: 20px;
  padding-top: 15px;
}

.hiddenUploadIcon {
  display: none;
}

#feed {
  padding-left: 25px;
}

.searchDrop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-right: 25px;
}

.profileInputFile{
  position: relative;
  right: 70px;
  bottom: 20px;
  width: 50px;
  font-size: 2px;
}

.profileInputFile::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
.profileInputFile::before {
  position: relative;
  content: image-url('camera2.png');
  opacity: .7;
  -webkit-user-select: none;
  cursor: pointer;
}

.profileInputFile::before:hover {
  opacity: 1;
}
