.userProfileNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
}

.userProfileContent1 {
  background-image: image-url('goldencupcakes.jpg');
  height: 250px;
  width: auto;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}

.userProfileContent2 {
  background-image: image-url('macaroons2.png');
  height: 250px;
  width: auto;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}

#user {
  color: white;
  padding-left: 25px;
  font-size: 33px;
  font-weight: 400;
  opacity: 1;
}

.userProfileLogo {
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}

#name {
  padding-left: 20px;
  padding-bottom: 15px;
}

#feedIntro {
  padding-left: 20px;
  padding-top: 15px;
}

#logout{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#addDessert{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#updateLink{
  color: grey;
  padding: 7px 4px;
  // padding-left: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  margin-left: 80px;
  margin-right: 0;
  // background-image: image-url("logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}


#profileLinks {
  display: flex;
  margin-left: 150px;
}
// #updateLink {
//   background-image: image-url("001-fruit.png");
//   padding-left: 22px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   padding-right: 15px;
//   display: flex;
//   align-items: center;
// }

#addDessert:hover {
  opacity: .6;
}

#logout:hover {
  opacity: .6;
}

#updateLink:hover {
  opacity: .6;
}

#feed {
  padding-left: 25px;
}

.searchDiv {
  border-radius: 5px 5px 5px 5px;
  border: 2px lightgrey solid;
  opacity: .4;
}

.searchDrop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
