.userProfileNav {
  background-color: #ffe6ea;
  max-height: 50px;
  display: flex;
  align-items: center;
}

.userImgDiv {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom center;
  border: 3px solid pink;
  border-radius: 100%;
  margin: 10px;
  height: 59px;
  width: 60px;
}

.profilePage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userProfileContent1 {
  height: 250px;
  width: 90%;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
  padding-left: 20px;
  opacity: .9;
}

.userProfileContent1:empty{
  background-image: image-url('goldencupcakes.jpg');
}

#wallImg {
  height: 250px;
  width: 90%;
  overflow: hidden;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  opacity: .9;
  position: fixed;
  z-index: -1;
}

#prof {
  display: flex;
  align-items: center;
}

#user {
  color: white;
  font-size: 33px;
  font-weight: 400;
  opacity: 1;

}

.userProfileLogo {
  padding-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 155px;
  padding-right: 25px;
}

#name {
  padding-left: 20px;
  padding-bottom: 15px;
  position: relative;
  bottom: 15px;
  color: white;
}

#feedIntro {
  padding-left: 20px;
  padding-top: 15px;
}

#logout{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#addDessert{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px 5px 5px 5px;
  margin-right: 25px;
}

#updateLink{
  color: grey;
  padding: 7px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  margin-left: 80px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}


#profileLinks {
  display: flex;
  margin-left: 150px;
}


#addDessert:hover {
  opacity: .6;
}

#logout:hover {
  opacity: .6;
}

#updateLink:hover {
  opacity: .6;
}

#feed {
  padding-left: 25px;
}

.searchDiv {
  border-radius: 5px 5px 5px 5px;
  border: 2px lightgrey solid;
  opacity: .4;
}

.searchDrop {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.profileInputFile{
  width: 50px;
  align-self: flex-end;
  font-size: 2px;
}

.profileInputFile::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
.profileInputFile::before {
  content: image-url('camera2.png');
  opacity: .5;
  -webkit-user-select: none;
  cursor: pointer;
}
