body {
  display: flex;
  flex-direction: column;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  font-stretch: expanded;
  letter-spacing: 2.5px;
  color: #9E9E9E;
}

h2 {
  margin-top: 7px;
  color: #737373;
}

h4 {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 4px 2px 10px 2px;
  color: #9E9E9E;
}

.img1 {
  background-image: image-url('blurrypinkcupcakes.jpg');
}

.img2 {
  background-image: image-url('blueberry.jpg');
}

.img1, .img2 {
  height: 100vh;
  width: auto;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}


.signInForm {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.authInfo {
  display: flex;
  flex-direction: column-reverse;
  height: 75%;
  max-height: 500px;
  min-height: 453px;
  width: 350px;
  background: white;
  justify-content: center;
  align-items: center;
}


#signIn {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 2px;
}

#signIn:hover {
  background-color: lightgrey;
}

#demo {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-right: 2px;
}

#demo:hover {
  background-color: lightgrey;
}

.username, .password {
  background-position: 0.3em;
  background-repeat: no-repeat;
  border: 1px solid lightgrey;
  margin: 5px 2px 5px 5px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding: 5px 2px 5px 18px;
}

.username {
  background-image: image-url('001-profile.png');
}


.password {
  background-image: image-url('002-padlock.png');
}

#username {
  padding-left: 10px;
}

#password {
  padding-left: 10px;
}

.errDiv {
  display: flex;
  align-items: center;
  height: 30px;
}

.erList {
  display: flex;
}

#errors {
  background-color: white;
  font-size: 10px;
  color: grey;
  text-align: left;
  margin: 0;
}
