body {
  display: flex;
  flex-direction: column;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  font-stretch: expanded;
  letter-spacing: 2px;
}

h2 {
  margin-top: 7px;
}

h4 {
  font-size: 16px;
  letter-spacing: 2px;
  padding: 4px 2px 10px 2px;
}

input {
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding: 2px 2px 2px 15px;
  margin: 5px 5px 5px 5px;
}

.dessertContainer {
  background-image: image-url('blurrypinkcupcakes.jpg');
  height: 600px;
  width: auto;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.authInfo {
  display: flex;
  flex-direction: column-reverse;
  height: 75%;
  width: 350px;
  background: white;
  justify-content: center;
  align-items: center;
}


#signIn {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-left: 2px;
}

#signIn:hover {
  background-color: lightgrey;
}

#demo {
  background-color: #ffccd5;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  margin-right: 2px;
}

#demo:hover {
  background-color: lightgrey;
}

.username {
  border: 1px solid lightgrey;
  margin: 5px 2px 5px 5px;
  background-image: image-url('001-profile.png');
  background-position: left;
  background-repeat: no-repeat;
}

.password {
  border: 1px solid lightgrey;
  margin: 5px 2px 5px 5px;
  background-image: image-url('002-padlock.png');
  background-position: left;
  background-repeat: no-repeat;
}

.errDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30px;
}

.erList {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-right: 32;
  margin: 0;
}


#errors {
  background-color: white;
  font-size: 10px;
  color: grey;
  text-align: left;
}
