#rating01{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
  border-left: 1px lightgrey solid;
}

#rating41{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
}

#rating31{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
}

#rating21{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
}

#rating11{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
}

#rating51{
  background-image: image-url('donut2.png');
  background-repeat: repeat-x;
  background-size: 20px;
  height: 30px;
  width: 80px;
  background-position: bottom right;
  color: #ff8095;
  display: inline-block;
  margin: 0px 5px 10px 5px;
}
