.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.updateUser {
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateUserForm {
  width: 350px;
  height: 200px;
  border: grey;
  display: flex;
  align-content: space-around;
  position: relative;
  background: white;
}

.updateInputs input{
  border: 1px solid lightgrey;
  margin: 7px 2px 10px 5px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 2px 0 2px 20px;
}

#passwordChange {
  background-image: image-url('002-padlock.png');
  margin-bottom: 20px;
}

#usernameChange {
  background-image: image-url('001-profile.png');
}

#updateUserBtn {
  background-color: #f2f2f2;
  border: 0.5px solid white;
  color: #ff99bb;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}
