.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  cursor: pointer;
}

.updateLabel {
  color: grey;
}

#userAvatar {
  display: inline-block;
  object-fit: cover;
  width: 89px;
  height: auto;
  overflow: hidden;
}

#avatar {
  display: inline-block;
  width: 89px;
  height: auto;
  background-position: center center;
  background-size: cover;
}

.imgDiv {
  overflow: hidden;
  border: 3px solid pink;
  border-radius: 100%;
  height: 59px;
  width: 60px;
  background-size: cover;
  margin: 10px;
}

.ImgDiv {
  overflow: hidden;
  border: 3px solid pink;
  border-radius: 100%;
  height: 59px;
  width: 60px;
}

.userAccountDiv {
  background-color: #f2f2f2;
  min-height: 600px;
  display: flex;
  justify-content: center;
}


#usernameChange{
  height: 28px;
  width: 300px;
  padding-left: 4px;
  margin: 10px;
  border-radius: 5px;
  border: 1px lightgrey solid;
}

#pwChange{
  border-radius: 5px;
  height: 28px;
  width: 300px;
  padding-left: 4px;
  margin: 10px;
  border: 1px lightgrey solid;
}

#updateTitle {
  font-weight: bold;
  align-self: center;
  font-size: 20px;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
}

.updateUser {
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateForm {
  min-width: 600px;
  min-height: 400px;
  height: 90%;
  border: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  background: white;
  padding: 25px;
  margin-top: 25px;
}

  .updateInputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }


.inputFile{
  width: 10px;
}

.inputFile::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
  position: relative;
  right: 40px;
}
.inputFile::before {
  content: 'Change Photo';
  display: inline-block;
  background: white;
  border-radius: 3px;
  padding: 5px 10px 5px 25px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 12pt;
  color: grey;
  position: relative;
  right: 100px;
}


#avatarUpdate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: center;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

.updateFormContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 80%;
}

#avatarTitle {
  color: #737373;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 5px;
}


#updateUserBtn {
  background-color: #f2f2f2;
  border: 0.5px solid white;
  color: #ff99bb;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 140px;
  bottom: 10px;
  width: 180px;
  border-radius: 5px 5px 5px 5px;
}

#updateUserBtn:hover {
  opacity: .7;
  cursor: pointer;
}

.userErrDiv {
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-bottom: 10px;
}
